{{> navbar}}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-info">Hey... this is our place to grow...</h2>
    </div>
    <div class="col-sm-12">

      <h2 class="text-primary">{{title}}</h2>
    </div>
  </div>
  <div class="col-sm-12">


  </div>


</div>