<div class="text-center d-flex justify-content-center">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel border rounded-25 mt-5 pl-4 pr-4">
			{{!-- header of login--}}
			<div class="row p-1 panel-heading">
				<section class="col">
					<label class="font-weight-bold">Login</label>
				</section>
				<hr>
			</div>
			{{!-- Login form --}}
			<form id="login-form" action="/users/loginUser" method="post" role="form">
				<section class="form-group">
					<input type="text" name="emaillogin" id="emaillogin" tabindex="1" class="form-control" placeholder="Email..." value="">
				</section>
				<section class="form-group">
					<input type="password" name="passwordlogin" id="passwordlogin" data-toggle="tooltip" title="must contain at least (1 lowercase, 1 uppercase alphabetical character,1 numeric,and ! @ # $ - _) minimum 8 char or longer!!!"
					 tabindex="2" class="form-control" placeholder="Password">
				</section>
				<section class="form-group">
					<div class="text-center d-flex justify-content-center">
						<div class="col-sm-6 col-sm-offset-3">
							<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-primary" value="Log In">
						</div>
					</div>
				</section>

				<section class="form-group text-center d-flex justify-content-center">
					<a href="/users/register" tabindex="5">Register new client</a>
				</section>
			</form>


		</div>
	</div>
</div>

<div class="alert mt-5 h-25" role="alert">
	{{msg}}
</div>

{{#if msg}}
<div class=" container-fluid alert alert-danger col-lg-4  ml-50">
	<p><strong>Erorr: </strong>{{msg}}</p>
</div>
{{/if}} {{#if msgok}}
<div class=" container-fluid alert alert-success col-lg-4  ml-50">
	<p><strong>congratulation: </strong>{{msgok}}</p>
</div>
{{/if}}