<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--reset all browsers style-->
        <link rel="stylesheet" href="/stylesheets/reset.css">
        <!--add 2 font for this document-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
        <!--add jquery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!--bootStrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <!--my style .css file-->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <!--Awsome font-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>To Do List</title>
</head>
<body>

<div class="container">
  <div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-login">
        {{!-- header of login-register --}}
				<div class="panel-heading">
					<section class="col-xs-6">
						<a href="#" class="active" id="login-form-link">Login</a>
					</section>
					<section class="col-xs-6">
						<a href="#" id="register-form-link">Register</a>
					</section>
					<hr>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
              {{!-- login form --}}
							<form id="login-form" action="/api/loginUser" method="post" role="form" style="display: block;">
								<section class="form-group">
									<input type="text" name="username" id="usernamelogin" tabindex="1" class="form-control" placeholder="Username" value="">
								</section>
								<section class="form-group">
									<input type="password" name="password" id="passwordlogin" tabindex="2" class="form-control" placeholder="Password">
								</section>
								<section class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Remember Me</label>
								</section>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
												</div>
											</div>
										</div>
									</div>
								</form>
                {{!-- register form --}}
								<form id="register-form" action="api/newUser" method="post" role="form" style="display: none;">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
									</div>
									<div class="form-group">
										<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
									</div>
									<div class="form-group">
										<input type="password"id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<button type="submit" id="register-submit" tabindex="4"  class="form-control btn btn-register">Register Now</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="warningContainer" style="margin: 30px">
			<div id="warning-message" class="alert alert-danger">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
			</div>
		</div>
		
	<!--can add javascript fle here or end of doc-->
	<script src="javascripts/login-register.js"></script>
    </body>
</html>