.item-image {
  display: block;
  height: 200px;
  width: auto;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
#amazon-logo {
  height: 62px;
}

/*************Purchse Page: Ming*****************/
.purchaseContainer {
  display: grid;
  height: 90%;
  width: 95vw;
  grid-template-columns: 35% 45% 20%;
  grid-template-rows: 1fr;
  margin: 10px;
  grid-gap: 10px;
  margin-bottom: 30px;
}
.productImg {
  display: grid;
  grid-column: span 1;
  grid-row: span 1;
}
.productImg img {
  width: 60%;
  height: auto;
}
.productInfoBox {
  display: grid;
  grid-column: span 1;
  grid-row: span 1;
  padding-right: 20px;
}
.purchaseSection {
  display: grid;
  grid-column: span 1;
  grid-row: span 1;
}
.purchaseBox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px 1fr;
}
.purBoxFit {
  display: grid;
  grid-row: span 2;
  grid-column: span 1;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  border: solid #b2babb 2px;
  border-radius: 5px;
  padding: 10px;
}
#incQtyBtn {
  height: 28px;
  width: 98%;
  font-size: 16px;
}
.purchaseHeader {
  font-size: 28px;
  margin-bottom: 10px;
}
.purchaseH6 {
  font-size: 14px;
}
.purchaseH5 {
  font-size: 16px;
}
.purchaseH4 {
  font-size: 20px;
}
.purList {
  font-size: 14px;
  text-align: justify;
}
/***************Shopping Cart Page: Ming****************/

.cartContainer{
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 1fr;
  height: 98%;
  width: 95vw;
  margin: 10px;
}

.cartDisplay {
  display: grid;
  grid-column: span 1;
  grid-row: span 1;
  height: 90%;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 1fr;
}
.cartCheckout{
  display: grid;
  grid-column: span 1;
  grid-row: span 1;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
}

#cartTop{
  display: grid;
  grid-row: span 1;
  grid-column: span 1;
  grid-template-columns: 65% 10% 1fr;
  grid-template-rows: 30px 20px 10px;
}
.topHR {
  display: grid;
  grid-row: span 1;
  grid-column: span 3;
}
#cartMiddle{
  display: grid;
  grid-row: span 1;
  grid-column: span 1;
  margin:10px;
  
}


.cartMiddleBox{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20% 45% 10% 1fr; 
}

#cartBottom{
  display: grid;
  grid-row: span 1;
  grid-column: span 1;
}
#cartProductImg img {
  width: 95%;
}
.cartHeader{
  font-size: 24px;
}
.cartH6{
  font-size: 14px;
}
.cartH5{
  font-size: 20px;
}
.cartTopBox1{
  display: grid;
  grid-column: span 3;
  grid-row: span 1;
}
.cartTopBox2{
  display: grid;
  grid-column: span 1;
  grid-row: span 1;
}
.cartTopBox3{
  display: grid;
  grid-column: span 1;
  grid-row: span 1;
}
.cartBlank{
  display: grid;
  grid-column: span 1;
  grid-row: span 1;
}
/* hr { 
  display: block;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  color: #666666;
  background-color: #666666;
  width: 400px;
  height: 1px;
} */




/*************************************/

/**/
.inventory-seller-table tr:nth-child(even){background-color: #f2f2f2}
.inventory-seller-table th, .inventory-seller-table td {
  text-align: left;
  padding: 8px;
}

.inventory-seller-table td{
  overflow: hidden;  text-overflow: ellipsis; max-height: 100px;
}
/****************Tri***********************/

#departmentSelect:hover{
  cursor: pointer;
}